*{
    font-family: "DM Sans";
}
body{
    scroll-behavior: smooth;
}

.CardFooter:hover,
.startUp{
    background-color: #EDF5FE;
}

.Card{
    max-width: 100% !important;
    width: 398px ;
    height: 356px;
    margin-bottom: 2rem;
    border: 1px solid #b2d7ff !important;
    border-radius: 16px !important;
    position: absolute;
    bottom: 28%;
}

span{
    font-weight: 700;
}

.cardPage{
    position: relative;
    padding-bottom: 80px ;
}
