*{
    font-family: "DM Sans";
}
body{
    scroll-behavior: smooth;
}

.CardFooter:hover,
.startUp{
    background-color: #EDF5FE;
}

.Card{
    max-width: 100% !important;
    width: 398px ;
    height: 356px;
    margin-bottom: 2rem;
    border: 1px solid #b2d7ff !important;
    border-radius: 16px !important;
    position: absolute;
    bottom: 28%;
}

span{
    font-weight: 700;
}

.cardPage{
    position: relative;
    padding-bottom: 80px ;
}

.css-qbdosj-Input {
    visibility: visible;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: inline-grid;
    grid-area: 1/1/2/3;
    grid-template-columns: 0 min-content;
    margin: -18px;
    padding-bottom: 7px;
    padding-top: 2px;
    padding-right: 140px;
    padding-left: 140px;
    color: hsl(0, 0%, 20%);
    box-sizing: border-box;
}

.css-1bqoaab {
    text-align: center;
    padding-bottom: 6rem;
    padding-top: 96px;
}

